* {
    margin: 0;
    padding: 0;
}

.card_container {
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    width: 14rem;
    text-align: left;
    position: relative;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 1px 1px var(--primary);
            }
}
.logo_container {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    position: absolute;
    top: -1.5rem;
    
}


 .post_contract, .company {
    color: var(--secondary);
    font-size: 0.7rem;
    margin: 0.4rem 0;
}

.position {
    color: var(--black);
    font-size: 0.85rem;
    font-weight: 800;
}

.location {
    color: var(--primary);
    margin-top: 1.5rem;
}