:root {
  /**Colors*/
  --primary: #5964E0;
  --white: #FFFFFF;
  --secondary:#6E8098;
  --black: #19202D;
  --gray: #F5F6F8;

  font-size: 16px;
}

body {
  background-color: var(--gray);
  margin-top: 0rem;
}

.nav {

}

.job_lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem 2rem;
  margin: 5rem 0 4rem;
}

.button_container {
  display: flex;
  margin-bottom: 3rem;
  justify-content: center;
}